.App {
  text-align: center;
}

.App {
  background: #209cee;
  padding: 30px;
  height: 100vh;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
}

.todo , form, form input{
  background: #fff;
  padding: 3px 10px;
  font-size: 12px;
  margin: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form input:focus, form input{
  border:none;
  outline-width: 0;

}

.remove{
  background:red;
  border-radius: 5px;
  margin:5px;
  font-weight:bold;
}